$font-family: 'Proxima Nova', -apple-system, 'Helvetica Neue', Helvetica, Roboto,
  Arial, sans-serif;
$font-size-base: 16px;

$header-bg: #fff;
$body-bg: #fff;

$text-color: #333;
$text-muted: #666;
$primary-color: #00b8d4;

$divider: #e9e9e9;

$padding: 20px;
$margin: 30px;
